# 设置session超时时长
server:
  servlet:
    session:
      timeout: 1

spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/security?characterEncoding=UTF-8&useSSL=false
    username: root
    password: 123456

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.kaede.entity

# 日志处理，为了展示mybatis运行的sql语句
logging:
  level:
    com:
      kaede: debug
